<hr>
<section style="text-align: center;">
  <div class="row" *ngFor="let consultant of tableauConsultant; let i=index">
    <div class="col-sm-6" *ngIf="i<3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{ consultant.prenom }} {{ consultant.nom }}</h5>
          <p class="card-text">{{ consultant.description }}</p>
        </div>
      </div>
    </div>
  </div>
  <nav>
    <a routerLink="/consultants">
      <h2>Consultants</h2>
    </a>
  </nav>
</section>
<hr>
<section style="text-align: center;">
  <div class="row" *ngFor="let startup of tableauStartup; let i=index">
    <div class="col-sm-6" *ngIf="i<3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{ startup.nom }}</h5>
          <p class="card-text">{{ startup.description }}</p>
        </div>
      </div>
    </div>
  </div>
  <nav>
    <a routerLink="/startups">
      <h2>Startups</h2>
    </a>
  </nav>
</section>