<div class="container">
  <div class="center">
    <button type="button" class="btn btn-primary" (click)="ajouterStartup()">Ajouter Start-up</button>
  </div>
  <div class="center">
    <form *ngIf="ajoutStartup" (ngSubmit)="register()" [formGroup]="startupForm">
      <div class="form-group col-md-6">
        <label>Nom de la start-up</label>
        <input type="text" class="form-control" formControlName="nom" ngModel>
        <div style="color: #ffe100; font-weight: bold" *ngIf="nom.dirty && nom.hasError('required')">
          Le nom est vide</div>
      </div>
      <div class="form-group col-md-6">
        <label>Secteur d'activité</label>
        <input type="text" class="form-control" formControlName="secteurActivite" ngModel>
        <div style="color: #ffe100; font-weight: bold" *ngIf="secteurActivite.dirty && secteurActivite.hasError('required')">
          Le secteur d'activité est vide</div>
      </div>
      <div class="form-group col-md-6">
        <label>Resprésentant légal</label>
        <input type="text" class="form-control" formControlName="representantLegal" ngModel>
        <div style="color: #ffe100; font-weight: bold" *ngIf="representantLegal.dirty && representantLegal.hasError('required')">
          Le représentant légal est vide</div>
      </div>
      <div class="form-group col-md-6">
        <label>Nombre de co-fondateurs</label>
        <input type="number" class="form-control" formControlName="nbreCoFondat" ngModel>
        <div style="color: #ffe100; font-weight: bold" *ngIf="nbreCoFondat.dirty && nbreCoFondat.hasError('required')">
          Le nom nombre de co-fondateurs est vide</div>
      </div>
      <div class="form-group col-md-6">
        <label>Description</label>
        <input type="text" class="form-control" formControlName="description" ngModel>
        <div style="color: #ffe100; font-weight: bold" *ngIf="description.dirty && description.hasError('required')">
          La description est vide</div>
      </div>
      <div class="form-group col-md-6">
        <label>Adresse</label>
        <input type="text" class="form-control" formControlName="adresse" ngModel>
      </div>
      <button class="btn btn-info" type="submit" [disabled]="startupForm.invalid">Enregistrer</button>
      <button class="btn btn-warning" type="button" (click)="reset()">Annuler</button>
    </form>
  </div>
</div>
<!-- <app-ajouter-startup></app-ajouter-startup> -->
<hr>
<div class="container">
  <table class="table table-striped">
    <thead>
      <th>Nom</th>
      <th>Représentant</th>
      <th>Nombre de co-fondateurs</th>
      <th>Description</th>
      <th>Adresse</th>
      <th>Action</th>
    </thead>
    <tbody>
      <tr *ngFor="let startup of tableauStartup">
        <td>{{ startup.nom }}</td>
        <td>{{ startup.representantLegal }}</td>
        <td>{{ startup.nbreCoFond | coFondateurs }}</td>
        <td>{{ startup.description }}</td>
        <td>{{ startup.adresse | adresse }}</td>
        <td>
          <button (click)="updateStartup()" class="btn btn-warning">
            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
          </button>
          <button (click)="deleteStartup(startup.id)" class="btn btn-danger">
            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>