<div class="container">
    <table class="table table-striped">
      <thead>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Description</th>
      </thead>
      <tbody>
        <tr *ngFor="let consultant of tableauConsultant">
          <td>{{ consultant.nom }}</td>
          <td>{{ consultant.prenom }}</td>
          <td>{{ consultant.description }}</td>
        </tr>
      </tbody>
    </table>
  </div>