<div class="container">
    <div class="center">
      <button type="button" class="btn btn-primary" (click)="ajouterStartup()">Ajouter Start-up</button>
    </div>
    <div class="center">
      <form *ngIf="ajoutStartup" (ngSubmit)="register()" [formGroup]="startupForm">
        <div class="form-group col-md-6">
          <label>Nom de la start-up</label>
          <input type="text" class="form-control" formControlName="nomStartup" ngModel>
          <div style="color: #ffe100; font-weight: bold" *ngIf="nomStartup.dirty && nomStartup.hasError('required')">
            Le nom est vide</div>
        </div>
        <div class="form-group col-md-6">
          <label>Secteur d'activité</label>
          <input type="text" class="form-control" formControlName="secteurActivite" ngModel>
          <div style="color: #ffe100; font-weight: bold" *ngIf="secteurActivite.dirty && secteurActivite.hasError('required')">
            Le secteur d'activité est vide</div>
        </div>
        <div class="form-group col-md-6">
          <label>Resprésentant légal</label>
          <input type="text" class="form-control" formControlName="represLegal" ngModel>
          <div style="color: #ffe100; font-weight: bold" *ngIf="represLegal.dirty && represLegal.hasError('required')">
            Le représentant légal est vide</div>
        </div>
        <div class="form-group col-md-6">
          <label>Nombre de co-fondateurs</label>
          <input type="number" class="form-control" formControlName="nbreCoFondat" ngModel>
          <div style="color: #ffe100; font-weight: bold" *ngIf="nbreCoFondat.dirty && nbreCoFondat.hasError('required')">
            Le nom nombre de co-fondateurs est vide</div>
        </div>
        <div class="form-group col-md-6">
          <label>Description</label>
          <input type="text" class="form-control" formControlName="description" ngModel>
          <div style="color: #ffe100; font-weight: bold" *ngIf="description.dirty && description.hasError('required')">
            La description est vide</div>
        </div>
        <div class="form-group col-md-6">
          <label>Adresse</label>
          <input type="text" class="form-control" formControlName="adresse" ngModel>
        </div>
        <button class="btn btn-info" type="submit" [disabled]="startupForm.invalid">Enregistrer</button>
        <button class="btn btn-warning" type="button" (click)="reset()">Annuler</button>
      </form>
    </div>
  </div>