<h1 style="text-align: center;">Bienvenu sur in-cup !</h1>
<div style="text-align: center;">
    <nav>
        <a routerLink="/">
            <h2>Home</h2>
        </a>
        <a routerLink="/startups">
            <h2>Startups</h2>
        </a>
        <a routerLink="/consultants">
            <h2>Consultants</h2>
        </a>
    </nav>
    <router-outlet></router-outlet>
</div>
<app-cards></app-cards>